.cardBody {
    position: relative;
    margin: auto;
    /* display: grid; */
    width: 100%;
    max-width: 45vh;
    border-radius: 1vh;
    margin-bottom: 2vh;
    background-color: #ffffff;
    box-shadow: 0 0 4vh rgba(0, 0, 0, 0.20);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition: 1s;
    user-select: none;
}

.cardBody.show {
    opacity: 1;
}

.buttonsImage {
    pointer-events: none;
    position: absolute;
    font-size: 4vh;
    width: 100%;
    height: 100%;
    text-align: right;
    opacity: 0;
    border-radius: 2vh;
    
    transition: 0.3s;
}

.cardBody:hover .buttonsImage {
    opacity: 0.9;
    background-color: #0000000a;
}

.cardBody .first, .second {
    margin: 1vh 0.5vh;
    background-color: #ffffff;
    padding: 1vh;
    border-radius: 1vh;
    cursor: pointer;
    transition: 0.3s;
}

.cardBody .first {
    position: absolute;
    top: 0;
    right: 0;
    height: 6vh;
}

.cardBody .second {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6vh;
    
}

.favorite:hover {
    color: #fdd910;
    opacity: 1;
}

.download:hover {
    color: #10fd57;
}

.cardImage {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    border-radius: 1vh;
    transition: 0.3s;
    display: block;
}


.commentSection {
    position: absolute;
    bottom: 0;
    left: 5%;
    transform: translateY(0%);
    width: 90%;
    box-shadow: 0 0 4vh rgba(0, 0, 0, 0.20);
    border-radius: 0 0 2vh 2vh;
    overflow: hidden;
    padding: 0.1vh 2vh;
    box-sizing: border-box;
    background-color: #fff;
    z-index: -1;
    transition: 0.3s;
    
}

.commentInput {
    box-sizing: border-box;
    width: calc(100% - 5vh);
    height: 50px;
    border: none;
    outline-style: none;
    vertical-align: middle;
    transition: 0.3s;

}

.commentButton {
    width: 5vh;
    height: 5vh;
    padding: 1vh;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    color: black;
    vertical-align: middle;
    background-color: #fff;
    color: #737373;
    transition: 0.3s;
}

.commentButton:hover {
    color: #6A82FB;
}

@media (max-width: 1000px) {


    .cardContent {
        padding: 1vh 2vh;
    }

    .cardContent p {
        font-size: 1.6vh;
    }

    .cardButton {
        padding: 0 2.2vh;
        font-size: 1.6vh;
    }



}