.header {
    display: flex;
    justify-content: space-between;
    /* Выравнивание вдоль основной оси флекс бокса */
    padding: 0 1vh 1vh 1vh;
}

.header button {
    padding: 2vh 5vh;
    border: none;
    border-radius: 0 0 2vh 2vh;
    color: #fff;
    cursor: pointer;
    transition: background-position 0.7s;
}

.headerFavorites {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    background-size: 200% 200%;
}

.headerAdd {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-size: 200% 200%;
}

.header button:hover {
    background-position: 100% 100%;
}