.cardsContainer {
    width: calc(100% / 3);
    display: inline-block;
    vertical-align: top;
    padding: 1vh;
    
}

@media (max-width: 1000px) {
    .cardsContainer {
        width: calc(100% / 2);
    }

    #thirdContainer {
        display: none;

    }
}