

.cardsContainer {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start; */
    width: calc(100% / 3);
    display: inline-block;
    vertical-align: top;
    padding: 1vh;
}