@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

input,
button,
a {
  font-family: 'Plus Jakarta Sans', sans-serif;
}


.gallery-list {
  text-align: center;
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.loading {
  width: 10vh;
  margin: 2vh auto;
}