@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

body {
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

input, button, a {
  font-family: 'Montserrat', sans-serif;
}
