.mainInfo {
    position: relative;
    width: 100%;
    height: 50vh;
    z-index: 1;
    background-color: #000;
    overflow: hidden;
    margin-bottom: 1vh;
}

.mainInfo .background {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 140%;

    max-width: 100vh;
    max-height: 100%;

    object-fit: cover;
    opacity: .5;
    transition: 0.1s;
}

.staticInteractiv {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    margin: 0 5vh;
}

.logoName {
    color: #5dd6eb;
}

.leftContent {
    font-size: 3vh;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.rightContent {
    font-size: 3vh;
    display: flex;
    align-items: center;
}

.rightContent a {
    display: flex;
    align-items: center;
}

.rightContent img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    object-fit: cover;
}

.staticInteractiv a {
    text-decoration: none;
    color: #fff;
    padding: 0.5vh 1vh;
    border-radius: 2vh;
    margin: 0.5vh;
}

.loadImage {
    font-size: 1.8vh;
    background-color: #fff;
    color: #000 !important;
    padding: 1.3vh 2vh !important;
    transition: 0.3s;
}

.loadImage:hover {
    color: #fff !important;
    background-color: #000;
}

.manage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.manage h2 {
    color: #fff;
    font-size: 3.3vh;
}

.searchInputContainer {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 5vh;
    border: 0.1vh solid #bfbfbf;
    border-radius: 1vh;
}


.selectedOption {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 23%;
    margin-left: 1%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vh;
    color: #000;
    background-color: #dfdfe0;
    border-radius: 0.7vh;
    cursor: pointer;
    user-select: none;
}

.selectedOption .icon {
    margin-right: 0.3vh;
    transform: translateY(10%);
    font-size: 2vh;
}

.searchInputContainer input {
    top: 0;
    left: 25%;
    position: absolute;
    height: 100%;
    width: 65%;
    border: none;
    font-weight: bold;
    font-size: 1.5vh;
    padding-left: 1vh;
    outline: none;
    color: #8b8b8b;
}


.searchInputContainer button {
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 10%;
    border: none;
    background-color: transparent;
    font-size: 2.5vh;
    color: #7f7f7f;
    cursor: pointer;

}

.filters {
    background-color: #fdfdfd;
    box-shadow: rgba(149, 157, 165, 0.2) 0 0.8vh 2.4vh;
    border-radius: 1vh;
    width: 50%;
    margin: auto;
    padding: 0.5vh 1vh;
}

.filters a {
    color: #000;
    font-size: 2.5vh;
}

.filters a svg {
    display: block;
    height: 3vh;
}

.zoom {
    border: 1px solid #00000020;
    border-radius: 1vh;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    padding: 0 1vh;

}

.zoom .zoomButton {
    padding: 0 0.5vh;
}

.filter ul {
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;

    list-style: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border-radius: 1vh;
    padding: 1vh;
    white-space: nowrap;
    top: 3.5vh;
}

.filter ul a {
    border: none;
    transition: 0.1s;
}

.filter ul a:hover {
    background-color: #dddddd50;
}

.filter {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1vh;

}

.filter a svg {
    display: inline-block;
    vertical-align: middle;

}

.filter a {
    text-decoration: none;
    line-height: 3vh;
    border: 1px solid #00000020;
    border-radius: 1vh;
    font-size: 1.5vh;
    padding: 0 1vh;
    display: block;
}

